################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cocos2d
/proj.android
/proj.ios_mac
/proj.linux
/proj.wp8-xaml
/proj.win32
